version: '3'
services:
  local:
    container_name: zero-engine
    image: node:11
    links:
      - 'mongo:mongo'
    volumes:
      - .:/usr/src/service
    working_dir: /usr/src/service
    command: bash -c "npm install && npm run dev"
    ports:
      - 8080:8080
  mongo:
    container_name: zero-mongo
    image: mongo
    ports:
      - 27017:27017
