version: '3'
services:
  development:
    container_name: zero-engine
    image: node:11
    volumes:
      - .:/usr/src/service
    working_dir: /usr/src/service
    command: bash -c "npm install && npm run build && npm run start"
    ports:
      - 8080:8080
